@font-face {
  src: url("fonts/WP_DOMINO_NOVEL_FONTS/WP DOMINO novel.ttf") format("ttf");
  font-family: "WpDominoNovel";
  font-style: normal;
}

@font-face {
  src: url("fonts/WP_DOMINO_NOVEL_FONTS/WP DOMINO novel italic.ttf") format("ttf");
  font-family: "WpDominoNovel";
  font-style: italic;
}

@font-face {
  src: url("fonts/WP_DOMINO_NOVEL_FONTS/WP DOMINO novel Bold.ttf") format("ttf");
  font-family: "WpDominoNovel";
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url("fonts/WP_DOMINO_NOVEL_FONTS/WP DOMINO novel Bold italic.ttf") format("ttf");
  font-family: "WpDominoNovel";
  font-style: italic;
  font-weight: 600;
}

